.register-container {

    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center;
     background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.register-container .form-container {
    width: 30%;
    height: 40%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.register-container .form-container form{
    width: 100%;
}