.logo {
    font-weight: 700;
    font-size: 20px;
}

.nav-bar {
    height: 80px;
    background-color: rgba(226, 239, 255, 0.349);
    border-bottom: 2px solid #f2f2f2;

    display: flex;
    justify-content: space-between;
}

.nav-bar > div{
    flex: 1;
    display: flex;
    align-items: center;
    margin: 20px;
}

.search input {
    height: 0.02rem;
}

.search svg {
    margin-left: 0.4rem;
}
.logo {
    justify-content: center;
}

.user{
    justify-content: flex-end;
}

.user a{
    margin: 16px 10px 0 10px;
    opacity: 0.6;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    
}

/* cart icon */
.css-i4bv87-MuiSvgIcon-root {
    font-size: 1.8rem !important;
}

.user a:hover{
    opacity: 1;
}

.user-btn {
    display: none;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root::after {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3) !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
    color: rgba(0, 0, 0, 0.7) !important;
}

@media only screen and (max-width: 768px) {
    .search{
        display: none !important;
    }

    .nav-bar > div {
        flex: 0;
        display: flex;
        margin: 20px;
        align-items: center;
    }

    .user-btn {
        display: block;
    }

    .register-btn {
        display: none;
    }

    .signin-btn {
        display: none;
    }

    .css-i4bv87-MuiSvgIcon-root {
        font-size: 2rem !important;
    }


}