h1, p, a, input, fieldset, label, button, svg {
  color: black !important;
  border-color: rgba(0, 0, 0, 0.23) !important;
  text-decoration-color: black !important;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

div {
  scroll-snap-align: center;
}

body {
  font-family: 'Quicksand', sans-serif;
}
